body {
    background-image: url(fondotruco.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 80px;
}

.hr-inicio{
    width: 150px;
    margin: -25px;
}

.hr-fin {
    width: 150px;
    margin: 5px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

#titulo {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.imagen {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.aceptar-cantidad-button {
    background-color: #53340c;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 1,5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
}

.tipografia-button1:hover {
    background-color: #b48619;
}

input::placeholder {
    font-family: 'Fira Sans', sans-serif;
}

#inicio {
    color: white;
    padding: 40px;
    background-color: rgba(2, 2, 2, 0.541);
    border-radius: 10px;
    padding: 15px;
    padding-top: 45px;
    margin: 40px auto 0 auto;
    text-align: left;
}

.boton-inicio {
    font-size: 20px; 
    color: #dca521;
    background-color: transparent;
    border: none;
    padding: 4px 0;
    margin-right: auto;
    margin: -20 0;
    cursor: pointer;
    font-weight: bold;
}

.boton-inicio:hover {
    color: rgb(94, 62, 15);
}

.item-inicio {
    display: flex;
    align-items: center; /* centra verticalmente icono y texto */
    margin-bottom: 20px; /* espacio entre filas */
}

.texto-inicio {
    display: flex;
    flex-direction: column; /* apila botón y párrafo */
    margin-left: 15px; /* separa el texto del icono */
    align-items: start;
    font-size: 15px;
}

.icono-redondo {
    width: 50px;
    height: 50px;
    margin: 20px 0;
    border-radius: 50%; /* para que sea redondo */
    object-fit: cover;   /* ajusta la imagen al círculo */
}


#inicio.ocultar {
    display: none;
}

#modalidad-torneo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300; 
    color: white;
    padding: 50px;
    background-color: rgba(2, 2, 2, 0.541);
    border-radius: 10px;
    margin: 40px auto 0 auto;
    height: auto;
    padding: 20px;
}

#modalidad-torneo h2 {
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 0px;
}

.modalidad-button {
    font-size: 2rem; 
    color: #dca521;
    background-color: transparent;
    border: none;
    padding: 4px 0;
    margin: -20px 0;
    cursor: pointer;
    font-weight: bold;
}

.modalidad-button:hover{
    color: rgb(94, 62, 15);
}

#modalidad-torneo.ocultar {
    display: none;
}

#cant-jugadores {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300; 
    color: white;
    padding: 50px;
    background-color: rgba(2, 2, 2, 0.541);
    border-radius: 10px;
    margin: 40px auto 0 auto;
    height: auto;
}

#cant-jugadores.ocultar {
    display: none;
}

#nombres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    color: white;
    padding: 50px;
    background-color: rgba(2, 2, 2, 0.541);
    border-radius: 10px;
    margin: 40px auto 0 auto;
    height: auto;
}

section#nombres li {
    margin-bottom: 10px;
}

#nombres.ocultar {
    display: none;
}

#equipos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    background-color: rgba(2, 2, 2, 0.541);
    border-radius: 10px;
    padding: 0;
    margin: 40px 0px 0px 0px;
    height: auto;
}

section#equipos li {
    margin-bottom: auto;
}

#equipos.ocultar {
    display: none;
}

#partidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgba(2, 2, 2, 0.541);
    padding-right: 5px;
    border-radius: 10px;
    margin: 40px auto 0 auto;
    height: auto; 
}

section#partidos li {
    margin-bottom: auto;
    margin-left: -20px;
}

#partidos.ocultar {
    display: none;
}
